/* CarritoPage.css */
.carrito-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex: 1;
}

/* Footer.css */
/* Agrega estos estilos si no los tienes ya en tu archivo Footer.css */
.footer-container {
  margin-top: auto;
}

