/* ProductsList.css */

.products-list-container {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  padding: 0;
}

.product-card-container {
  flex: 0 0 calc(25% - 20px); /* Ajustado para 4 elementos por fila */
  margin: 5px; /* Ajustado el margen */
  box-sizing: border-box; /* Incluye el borde en el tamaño total del elemento */
  margin-bottom: 10%;
}
.product-card {
  border: 1px solid #ddd;
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
  margin-bottom: 10px;
  width: 100%;
  height: 100%; /* Ajusta la altura según tus preferencias */
}

.product-card img {
  max-width: 100%;
  max-height: 200px; /* Ajusta la altura máxima según tus preferencias */
  object-fit: cover;
  margin: 0;
  padding-top: 3px;
}
.product-card p {
  margin: 0; /* Elimina el margen predeterminado del párrafo */
  max-height: 3em; /* Ajusta la altura máxima según tus preferencias */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
}
.btn-cargar {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
}

.load-more-button {
  background-color: #9f5e9a;
  width: 100%;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  transition: background-color 0.3s;
}

.load-more-button:hover {
  background-color: #c78bc3
;
}
@media (max-width: 750px) {
  .btn-cargar {
    width: 40%;
  }
}
@media (max-width: 400px) {
  .btn-cargar {
    width: 50%;
  }
}